/* General Styling */
.about {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

/* Top Section */
.about-top {
  background-image: url('https://res.cloudinary.com/dwcxwpn7q/image/upload/v1734069508/eehanee/20231125_160014_kvafbl.jpg'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
  font-size: 7rem;
  font-weight: bold;
}

/* Bottom Section */
.about-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgba(165, 0, 0, 0) 100%);
  /* This creates a gradient from white to transparent from right to left */
}

/* Left Side */
.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff83;
}

.about-left img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Right Side */
.about-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
}

.about-right h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.about-right h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: main;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.about-right h3 span {
  margin-left: 10px;
  color: #007bff;
  font-weight: bold;
}

.about-right p {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

/* Download CV Button */
.download-cv-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-cv-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
